body {
    font-family: Helvetica, Arial, sans-serif;
}

.centered {
    margin: 0 auto;
    width: 100%;
}

@media screen and (min-width: 800px) {
    .centered{
        margin: 0 auto;
        width: 800px;
    }
}

#search {
    width: 70%;
    margin: 0 auto;
}

label {
    margin: 0 0 0.2em 0;
    font-weight: bold;
    font-size: 12px;
    display: block;
}

.col {
    display: inline-block;
    vertical-align: top;
}

input[type=text] {
    display: block;
    width: 100%;
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button[type=submit] {
    padding: .5em;
    border: 1px solid #26569e;
    border-radius: 0 4px 4px 0;
    background: #4685e3;
    color: #fff;
}

select {
    background: #fff;
    padding: 0.1em;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.info {
    border-radius: 4px;
    background: #eee;
    font-size: 12px;
    border: 1px solid #ddd;
    padding: .5em;
    margin: .5em 0 0 0;
}

#datasets {
    text-align: center;
    margin: .5em auto;
    width: 200px;
}

#error-msg {
    background: #ff7363;
    border-color: #cf4536;
}

footer {
    margin-top: 3em;
    text-align: center;
    font-size: 12px;
    color: #ccc;
}
